.title {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(/pattern.jpeg);
}

.brushes {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.frame {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

p {
    font-family: Helvetica;
    font-size: 20px;
}

h3 {
    font-family: Helvetica;
    font-size: 25px;
}

span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}